mixin news-item(title, date, content)
  .news-item
    h3.news-title= title
    p.news-date= date
    .news-content= content
section.startscreen#start
  .flex.flex--center
    .col-full
      h1.start-logo
      
    .news-wrapper  
      
      h2
        a.toggle-news News
        
      .news-box
        
        {% assign posts = site.posts | where:'categories', 'news' %}
        {% assign lang_posts=posts | where:'language', page.language | sort: 'date' %}
        {% assign date-style=site.date-style | where:'language', page.language | first %}
        
    
          
        {% for post in lang_posts %}
        
        a(href='#{{ post.newsID }}').news-item-box.modal
        
          +news-item("{{post.title}}", "{{ post.date | date: date-style.format }}", "{{post.excerpt}}...")
           
        .news-item-full.modal-inner(id='{{post.newsID}}')
          
          .modal-content-wrapper
            h1 {{post.title}}
            p.modal-intro {{ post.date | date: date-style.format }}
              
            .modal-content {{post.content}}
            
            
            a(href='#')
              .close-modal close
            
        {% endfor %}
    
        //- div.          
        //-   <div class="modal">
        //-     <label for="modal-1">
        //-       <div class="modal-trigger">Click for Modal</div>
        //-     </label>
        //-     <input class="modal-state" id="modal-1" type="checkbox" /> 
        //-     <div class="modal-fade-screen">
        //-       <div class="modal-inner">
        //-         <div class="modal-close" for="modal-1"></div>
        //-         <h1>Modal Title</h1>
        //-         <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
        //-         <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
        //-       </div>
        //-     </div>
        //-   </div>


//- .modal
//-   label(for='modal-1')
//-     .modal-trigger Anna-Laura Schreilechner
//-   
//-   input(type='checkbox').modal-state#modal-1
//-   
//-   .modal-fade-screen
//-     .modal-inner
//-       .modal-close(for='modal-1')
//-       .modal-img(style='background-image: url(http://placekitten.com/100/110)')
//-       h1 Anna-Laura Schreilechner
//-       p.modal-intro.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
//-       p.modal-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
