mixin news-item(title, date, content, readmore)
  .news-item
    h3.news-title= title
    p.news-date= date
    .news-content= content
    p.read-more (#{readmore})
section.startscreen#start
  .flex.flex--center
    .col-full
      h1.start-logo
      
    .news-wrapper  
      
      h2
        .toggle-news News
        
      .news-box
        
        {% assign posts = site.posts | where:'categories', 'news' %}
        {% assign lang_posts=posts | where:'language', page.language | sort: 'date' %}
        {% assign date-style=site.date-style | where:'language', page.language | first %}
        {% assign read-more=site.read-more | where:'language', page.language | first %}
        
    
          
        {% for post in lang_posts %}
        
        a(href='#{{ post.newsID }}').news-item-box.modal
        
          +news-item("{{post.title}}", "{{ post.date | date: date-style.format }}", "{{post.excerpt}}", "{{read-more.phrase}}")
           
        .news-item-full.modal-inner(id='{{post.newsID}}')
          
          .modal-content-wrapper
            h1 {{post.title}}
            p.modal-intro {{ post.date | date: date-style.format }}
              
            .modal-content {{post.content}}
            
            
            a(href='#')
              .close-modal close
            
        {% endfor %}
    
  
